

.cajaCeleste{
	width: 100%;
	height: 100px;
	background: #07846b;
}

.caja1 {
	position:relative;
	top: 50px;
	background: #cfcfcf;
	height: 60px;
	border: 1px solid #cfcfcf;
}

img{
	
	margin: 10px;
}

h6{
	font-size: 12px;
	margin-top: -50px;
	margin-left:-400px;
	font-weight: 5px:
	
}

.nombres{
	font-size: 10px;
	margin-left:52px;
	margin-top:-5px;
	
}


.symbol1{
	margin-top: 15px;
}

#symbol2 {
	margin-top: -25px;
	padding: 10px;
}

.caja2 {
	
	border:1px solid #5c5e60;
}


.nomb1, 
.nomb2,
.nomb3,
.nomb4,
.nomb5,
.nomb6,
.nomb7,
.nomb8,
.nomb9 {
	
	font-size: 12px;
	font-weight: bold;
	margin-top: -55px;
	margin-left:52px;
	line-height: none;
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8,
.text9 {

	font-size: 10px;
	color: #b2adad;
	margin-top: 10px;
	margin-left: 50px;
	line-height: none;

}
.divider{
	margin-top: -20px;
}

.mensajeEscribir{
	margin-left: 100px;
}